sil_pmb_minipver.zip
.idea/.gitignore
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/object_patching_germany.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
core/log.txt
core/__pycache__/addon_modules.cpython-38.pyc
Do.spec
vRapidPrototypingTool.spec
build/vRapidPrototypingTool/Analysis-00.toc
build/vRapidPrototypingTool/base_library.zip
build/vRapidPrototypingTool/EXE-00.toc
build/vRapidPrototypingTool/PKG-00.toc
build/vRapidPrototypingTool/PYZ-00.pyz
build/vRapidPrototypingTool/PYZ-00.toc
build/vRapidPrototypingTool/vRapidPrototypingTool.exe.manifest
build/vRapidPrototypingTool/vRapidPrototypingTool.pkg
build/vRapidPrototypingTool/warn-vRapidPrototypingTool.txt
build/vRapidPrototypingTool/xref-vRapidPrototypingTool.html
dist/vRapidPrototypingTool.exe
.idea/object_patching.iml
core/build_cmd.txt
/.vs/CleanArchitectureWinform/v16
