<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MySQLDefaultConnection" connectionString="Server=127.0.0.1;port=3306;Database=application_db;Uid=root;Pwd=123456;Connect Timeout=30;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
		<add name="MySQLTestConnection" connectionString="Server=127.0.0.1;port=3306;Database=application_db_test;Uid=root;Pwd=123456;Connect Timeout=30;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
		<add name="SQLDefaultConnection" connectionString="Server=.;Database=application_db;Integrated Security=true;" providerName="System.Data.SqlClient" />
		<add name="SQLTestConnection" connectionString="Server=.;Database=application_db;Integrated Security=true;" providerName="System.Data.SqlClient" />
		<add name="SQLiteDefaultConnection" connectionString="Server=.;Database=application_db;Integrated Security=true;" providerName="System.Data.SqlClient" />
		<add name="SQLiteTestConnection" connectionString="Server=.;Database=application_db;Integrated Security=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>